    <form class="form-group" method="get">
        <label>提交记录id
            <input type="search" class="input-sm" name="id"/>
        </label>
        <label>用户名
            <input type="search" class="input-sm" name="username"/>
        </label>
        <label>OJ
            <input type="search" class="input-sm" name="oj"/>
        </label>
        <label>题目
            <input type="search" class="input-sm" name="probname"/>
        </label>
        <button class="btn" type="submit">搜索</button>
    </form>