    <form class="form-group" method="get">
        <label>id
            <input type="search" class="input-sm" name="id"/>
        </label>
        <label>用户名
            <input type="search" class="input-sm" name="username"/>
        </label>
        <label>昵称
            <input type="search" class="input-sm" name="nickname"/>
        </label>
        <label>学校
            <input type="search" class="input-sm" name="school"/>
        </label>
        <button class="btn" type="submit">搜索</button>
    </form>